.Home-container{
    background: #FA8415;
    width: 100%;
    max-width: 1120px;
    height: 100 vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*laranja mais claro*/  background: #faad64 ;  
}


.Home-container section.Corpo section.MeioHome{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    vertical-align: top;
    
}
.Home-container section.Corpo section.MeioHome section.Colunas{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;   
    margin: 3px;
    font-size: 10px;
}






